<h3 class="text-center">Welcome to this AngularJS 2.0 Project Example</h3>

<h4 class="py-3">What are we desmontrating here?</h4>

<ul>
    <li>Using more than one module in Angular.</li>
    <li>Routing for each module. ForRoot and ForChild.</li>
    <li>Connection to server side via Angular promises.</li>
    <li>Annotations in .NET Core WebApi 2.0</li>
    <li>Models in WebApi 2.0</li>
    <li>Receiving data from client side.</li>
    <li>Returning data from server side.</li>
    <li>AutoMapper usage.</li>
    <li>Using generic classes to save data.</li>
    <li>Saving data in text files using System.IO</li>
    <li>Repository Pattern</li>
</ul>